services:

  # Kafka
  kafka:
    build: ./kafka
    container_name: kafka
    # ports:
    #   - ${KAFKA_EXTERNAL_PORT}:9092
    networks:
      - services
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "./wait-for.sh kafka:${KAFKA_INTERNAL_PORT} -- ./kafka_setup.sh"
        ]
      interval: 30s
      timeout: 30s
      retries: 100
      start_period: 30s

  fetcher:
    build: ./fetcher
    container_name: fetcher
    environment:
      - WEBSOCKET_PORT=${WEBSOCKET_PORT}
      - KAFKA_INTERNAL_PORT=${KAFKA_INTERNAL_PORT}
    networks:
      - services
    command: ["./app"]
    depends_on:
      kafka:
        condition: service_healthy

  twitterapi:
    build: ./twitter-api
    container_name: twitterapi
    environment:
      - WEBSOCKET_ENDPOINT=${WEBSOCKET_ENDPOINT}
    networks:
      - services
    command: ["./app"]
    depends_on:
      - fetcher

  analyser:
    build: ./analyser
    container_name: analyser
    environment:
      - KAFKA_INTERNAL_PORT=${KAFKA_INTERNAL_PORT}
    networks:
      - services
    command: ["./app"]
    depends_on:
      - twitterapi
  
  store:
    build: ./store
    container_name: store
    environment:
      - KAFKA_INTERNAL_PORT=${KAFKA_INTERNAL_PORT}
      - DB_USERNAME=${MYSQL_USER}
      - DB_PASSWORD=${MYSQL_PASSWORD}
      - DB_NAME=${MYSQL_DATABASE}
      - DB_PORT=${MYSQL_PORT}
    networks:
      - services
    # ports:
    #   - 50051:50051
    command: ["./app"]
    depends_on:
      - analyser
      - storedb
  
  storedb:
    image: mysql
    container_name: storedb
    # ports:
    #   - 3306:3306
    networks:
      - services
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}

  broker:
    build: ./broker
    container_name: broker
    networks:
      - services
    ports:
      - 8000:8000
    command: ["./app"]
    depends_on:
      - store

networks:
  services:
    driver: bridge